trek-2022/video/water-crossing.mp4
.vscode/
poem/
challenge/
announcements/week-14/1-css-extra-credit.html
announcements/week-11/5-positioning-solutions.html
challenge.zip


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsi
announcements/week-4/d2-file-folder.html
