/* These are the CSS rules that are affected in Week 5
All rules that have properties come straight out of the instruction examples.
All of these rules must be merged into existing rules of the same name.
Colors and font-family are examples and must be updated to your choices. */

/* Step 1
 font-family:  */
@import url();

body { /*  Merge with rule already in your CSS  */
    font-family:
}

.home-title { /*  Merge with rule already in your CSS  */
    font-family:
}

.msg h2 { /*  Merge with rule already in your CSS  */
    font-family:
}

/* Step 2
font-size & line-height */
.home-title { /*  Merge with rule already in your CSS  Use your own Font Name */
    font-family: 'Rock Salt',  sans-serif;
    font-size: 2em;
}

.book,
.join { /*  Merge with rule already in your CSS  */
    font-size: 18px
}

.msg p { /*  Merge with rule already in your CSS  */
    font-size: .8em
}

.msg { /*  Merge with rule already in your CSS  */
    background-color: #6f7364;
    line-height: 1.5em;
}

/* Step 3
   Simple Reset */
body {/*  Merge with rule already in your CSS  */
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {   /* New Rule */
    margin: 0;
}

/* Step 4
   padding */

nav a { /*  Merge with rule already in your CSS  */
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

#logo_link {  /* New Rule */
    padding-top: 5px;
}

.book,
.join { /*  Merge with rule already in your CSS  */
    padding: 15px 30px;
}

.icon {/*  Merge with rule already in your CSS  */
    padding-top: 10px;
}

.msg {/*  Merge with rule already in your CSS  */
    padding: 35px;
}

.msg p {/*  Merge with rule already in your CSS  */
    padding-bottom: 15px;
}

footer {/*  Merge with rule already in your CSS  */
    padding: 25px 50px;
}


footer .social img { /* New Rule */
    padding-top: 15px;
}

/* Step 5
   Adding Margins */
.book,
.join {    /*  Merge with rule already in your CSS  */
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.home-title { /*  Merge with rule already in your CSS  */
    margin-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {  /* New Rule */
    margin: 200px 0;
}

footer { /*  Merge with rule already in your CSS  */
    margin-top: 200px;
}

/* Step 6
   Adding borders,
border radius and box-sizing*/

.book,
.join { /*  Merge with rule already in your CSS  */
    background-color: #d9c2a3;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img { /*  New Rule  */
    border: 10px solid #000;
}

main section img { /*  New Rule  */
    box-sizing: border-box;
}