/* These are the rule names that we in Week 4 assignment.
If the property is given in the example it is in this file
Make sure not to duplicate the rule names in your CSS file. */

/* Step 8 & 9 */
#content {}

/* Step 10 */
nav a {}

#hero-msg h1,
#hero-msg h4 {}

.button-box {}

main section {}

/* Sep 11 */
#background {
    height: 725px;
}

/* Step 12 */
body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
}

.book,
.join {}

.book:hover,
.join:hover {}

#background {}

.msg {}

footer {}

/* Step 13 */
nav a:hover {
    /* Merge with rule with same name from step 12  */
    background-color: black;
    color: #d9c2a3;
}

nav a {}/* Merge with rule with same name from step 10  */

.home-title {}

h4 {}

.book,
.join {} /* Merge with rule with same name from step 12  */

.book:hover,
.join:hover {} /* Merge with rule with same name from step 12  */

.msg h2 {} /* Merge with rule with same name from step 12  */

.msg p {}

footer p {}

footer a {}

footer p a:hover {}

/* Step 14 */
.icon {
    width: 80px;
}

.logo {}

#hero-img {}

/* Step 15 */
nav a { /* Merge with rule with same name from step 10  */
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

.book,
.join {}/* Merge with rule with same name from step 12  */

footer a {}/* Merge with rule with same name from step 13  */

footer p a:hover {}  /* Merge with rule with same name from step 13  */