@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --color-white: #fff;
    --hover-color: #003030;
    --trans-color: rgba(196 207 207 / 0.7);
    --trans-text-color: #04040c;
}

body {
    background-color: #006eb6;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 2em;
    box-sizing: border-box;
}

section {
    margin: 3em 0;
}

details {
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0 1em 0;
    margin: 1rem 0;
    background-color: var(--trans-color);
    max-width: 1200px;
    margin: 3em auto;
}

summary {
    color: var(--color-white);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
}

summary:hover {
    background: #1a252f;
}

details summary::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

details[open] summary::after {
    content: "\276F";
    transform: rotate(90deg);
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

details p {
    margin: 0.5em 0;
    line-height: 1.2em;

    padding: 1em;
    margin: 0;
}

details img {
    border: solid var(--hover-color) 4px;
    border-radius: 30px;
    padding: 1.5rem;
    background-color: var(--hover-color);
    margin: 1rem 0;
}

pre {
    font-size: 20px;
    line-height: 28px;
    background-color: lightblue;
    color: #1a1919;
    white-space: normal;
    padding: 1rem 2rem;
}