@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --color-white: #fff;
  --hover-color: #003030;
  --trans-color: rgba(196 207 207 / 0.7);
  --trans-text-color: #04040c;
  --img-background-color: #b1caf5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #006eb6;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header, main, footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 2em;
  box-sizing: border-box;
}

header {
  margin: 0 auto 1em auto;
  padding: 2em;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em 2em;
  padding: 0 1em 2em;
  background-color: #3e3e3e;
  margin: 0 0 1em 0;
}

nav a {
  color: #e3e3e3;
}

.nav-heading {
  grid-column: 1/-1;
  color: #fff;
}

section {
  margin: 3em 0;
}

details {
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0 1em 0;
  background-color: var(--trans-color);
  max-width: 1200px;
  margin: 3em auto;
}

summary {
  color: var(--color-white);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}

summary:hover {
  background: #1a252f;
}

details summary::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

details[open] summary::after {
  content: '\276F';
  transform: rotate(90deg);
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

details p {
  margin: 0.5em 0;
  line-height: 1.2em;
  padding: 1em;
}

details img {
  /* border: solid var(--hover-color) 4px; */
  display: block;
  border-radius: 30px;
  padding: 1.5rem;
  background-color: var(--img-background-color);
  margin: 1rem;
}

pre {
  font-size: 20px;
  line-height: 28px;
  background-color: lightblue;
  color: #1a1919;
  white-space: normal;
  padding: 1rem 2rem;
}

table {
  border-collapse: collapse;
  width: 900px;
  margin-bottom: 1rem;
  color: #212529;
  background-color: #e3e3e3;
  border: 1px #000 solid;
  margin: 0 auto;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #0d0150;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #0d0150;
}

code {
  font-size: 87.5%;
  word-wrap: break-word;
  color: #212529;
  display: block;
  padding: 1em;
}

td h1 {
  font-weight: 500;
  padding-top: 20px;
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}

.bold-text {
  font-weight: 700;
}

.menu-select {
  font-weight: 800;
  font-style: italic;
  font-size: 1.25em;
}

.top-link {
  display: inline-block;
  padding: 1em;
  background-color: #3e3e3e;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  margin: 2em;
  border-radius: 10px;
}

main p:last-of-type {
  padding: 0 1em 3em 1em;
}

footer {
  background-color: #3e3e3e;
  color: #fff;
  padding: 2em;
  font-weight: 600;
  display: grid;
  grid-template-columns: 3fr 1fr;
}